################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/WorkItem
/.vs/WorkItem/CopilotIndices/17.14.1231.31060
/.vs/WorkItem/FileContentIndex
/.vs/WorkItem/v17
/.vs/WorkItems
/.vs/WorkItems/CopilotIndices/17.14.1231.31060
/.vs/WorkItems/FileContentIndex
/.vs/WorkItems/v17
