<configuration>
	<connectionStrings>
		<add name="WorkItemsDb"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WorkItemsDb;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ApiKey" value="b7f2e8a1-4c3d-4e2a-9f5b-2a1c3e7d8f9a" />
		<add key="BaseAddress" value="http://localhost:8085/"                            />
	</appSettings>
</configuration>